In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargar tablas desde archivos CSV
clientes_df = pd.read_csv('clientes.csv')
ventas_df = pd.read_csv('ventas.csv')
persona_df = pd.read_csv('persona.csv')
metodo_pago_df = pd.read_csv('metodoPago.csv')
vehiculo_df = pd.read_csv('vehiculo.csv')
sucursal_df = pd.read_csv('sucursal.csv')
tiempo_df = pd.read_csv('tiempo.csv')

In [3]:
# Mostrar primeras filas
print("Clientes")
print(clientes_df.head())

print("Ventas")
print(ventas_df.head())

print("Persona")
print(persona_df.head())

print("MetodoPago")
print(metodo_pago_df.head())

print("Vehiculo")
print(vehiculo_df.head())

print("Sucursal")
print(sucursal_df.head())

print("Tiempo")
print(tiempo_df.head())

Clientes
   ID_Cliente  ID_Persona  ID_MetodoPago  Numero_total_alquileres  \
0           1           1              1                      230
1           2           2              2                      137
2           3           3              3                      723
3           4           4              4                      717
4           5           5              5                      818

   Gasto_total Ultima_fecha_alquiler  Duracion_promerio_alquiler
0      7861.76            18/08/2024                          11
1       281.27            24/03/2024                          16
2      9443.95            17/07/2024                          27
3      8416.95            29/03/2024                          19
4      4756.50            24/05/2024                          12
Ventas
   ID_Venta  ID_Cliente  ID_Vehiculo  ID_Sucursal  ID_Tiempo  \
0         1           1            1            1          1
1         2           2            2            2          2
2         3           3            3            3          3
3         4           4            4            4          4
4         5           5            5            5          5

  Fecha_de_alquiler  Monto_de_alquiler  Duracion_de_alquiler
0        22/04/2021            5903.15                    11
1        07/11/2021            1908.52                    23
2        26/06/2024            7074.01                    14
3        14/04/2024            4006.53                    16
4        07/06/2024            5130.12                    21
Persona
   ID_Persona             Nombre FechaNacimiento  \
0           1        Dorian Bote      18/09/2000
1           2     Jo ann Collerd      01/02/1997
2           3       Aldwin Tarte      18/03/1999
3           4  Abbey Glendinning      02/10/1997
4           5    Karita Stiegers      13/11/1998

                            Email  Genero            Ciudad           Pais
0            dbote0@xinhuanet.com    Male         Nashville  United States
1             jann1@sitemeter.com  Female      Grand Rapids  United States
2  atarte2@networkadvertising.org    Male         Knoxville  United States
3     aglendinning3@mediafire.com    Male  Huntington Beach  United States
4           kstiegers4@google.com  Female           Oakland  United States
MetodoPago
   ID_MetodoPago TipoPago              NombreBanco FechaExpiracion
0              1    laser            Turner-Muller         2028-07
1              2      jcb      Balistreri and Sons         2026-05
2              3      jcb  Hudson, Spinka and Haag         2026-03
3              4      jcb             Howell Group         2028-04
4              5     visa            Lubowitz-Metz         2027-08
Vehiculo
   ID_Vehiculo                                      Tipo_vehiculo       Marca  \
0            1       blandit lacinia erat vestibulum sed magna at  Volkswagen
1            2  aliquam quis turpis eget elit sodales sceleris...        MINI
2            3      integer ac neque duis bibendum morbi non quam      Toyota
3            4            vestibulum aliquet ultrices erat tortor  Mitsubishi
4            5                  nullam varius nulla facilisi cras        Ford

       Modelo   A単o  Capacidad
0  New Beetle  2006          4
1        MINI  2002          7
2       Camry  2000          2
3      Galant  1984          7
4      Ranger  1991          4
Sucursal
   ID_Sucursal                                           Nombre  \
0            1                                  The Joint Corp.
1            2                        BOK Financial Corporation
2            3  Western Asset Variable Rate Strategic Fund Inc.
3            4                 CIM Commercial Trust Corporation
4            5          Guggenheim Strategic Opportunities Fund

          Ciudad           Pais  Capacidad_almacenamiento
0     Alexandria  United States                        41
1  Daytona Beach  United States                        38
2        El Paso  United States                        37
3        El Paso  United States                        23
4   Battle Creek  United States                        25
Tiempo
   ID_Tiempo       Fecha  Mes   A単o  Trimestre
0          1  24/11/2022    2  2024          3
1          2  01/02/2022    4  2020          4
2          3  03/06/2021    6  2024          3
3          4  15/11/2021    3  2024          1
4          5  31/08/2021   12  2024          2

In [4]:
# Eliminar duplicados
clientes_df.drop_duplicates(inplace=True)
ventas_df.drop_duplicates(inplace=True)
persona_df.drop_duplicates(inplace=True)
metodo_pago_df.drop_duplicates(inplace=True)
vehiculo_df.drop_duplicates(inplace=True)
sucursal_df.drop_duplicates(inplace=True)
tiempo_df.drop_duplicates(inplace=True)

In [5]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [6]:
# Formato consistente para fechas
clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')
tiempo_df['Fecha'] = pd.to_datetime(tiempo_df['Fecha'], errors='coerce')
ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

C:\Users\Tony\AppData\Local\Temp\ipykernel_15492\3399448678.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_15492\3399448678.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_15492\3399448678.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  tiempo_df['Fecha'] = pd.to_datetime(tiempo_df['Fecha'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_15492\3399448678.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

In [7]:
# Eliminar filas donde 'Fecha_de_Alquiler' sea NaT
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'].notna()]

In [8]:
# Eliminar filas donde la fecha de alquiler sea futura
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'] <= pd.Timestamp.now()]

In [9]:
# Eliminar filas con montos de alquiler o gastos totales negativos
ventas_df = ventas_df[ventas_df['Monto_de_alquiler'] >= 0]
clientes_df = clientes_df[clientes_df['Gasto_total'] >= 0]

In [10]:
# Revisar si quedan valores nulos
print(clientes_df.isnull().sum())
print(ventas_df.isnull().sum())
print(persona_df.isnull().sum())
print(metodo_pago_df.isnull().sum())
print(vehiculo_df.isnull().sum())
print(sucursal_df.isnull().sum())
print(tiempo_df.isnull().sum())

ID_Cliente                    0
ID_Persona                    0
ID_MetodoPago                 0
Numero_total_alquileres       0
Gasto_total                   0
Ultima_fecha_alquiler         0
Duracion_promerio_alquiler    0
dtype: int64
ID_Venta                0
ID_Cliente              0
ID_Vehiculo             0
ID_Sucursal             0
ID_Tiempo               0
Fecha_de_alquiler       0
Monto_de_alquiler       0
Duracion_de_alquiler    0
dtype: int64
ID_Persona         0
Nombre             0
FechaNacimiento    0
Email              0
Genero             0
Ciudad             0
Pais               0
dtype: int64
ID_MetodoPago      0
TipoPago           0
NombreBanco        0
FechaExpiracion    0
dtype: int64
ID_Vehiculo      0
Tipo_vehiculo    0
Marca            0
Modelo           0
A単o              0
Capacidad        0
dtype: int64
ID_Sucursal                 0
Nombre                      0
Ciudad                      0
Pais                        0
Capacidad_almacenamiento    0
dtype: int64
ID_Tiempo    0
Fecha        0
Mes          0
A単o          0
Trimestre    0
dtype: int64

In [11]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [12]:
# Guardar los datos limpios en nuevos archivos CSV
clientes_df.to_csv('Clientes_L.csv', index=False)
ventas_df.to_csv('Ventas_L.csv', index=False)
persona_df.to_csv('Persona_L.csv', index=False)
metodo_pago_df.to_csv('MetodoPago_L.csv', index=False)
vehiculo_df.to_csv('Vehiculo_L.csv', index=False)
sucursal_df.to_csv('Sucursal_L.csv', index=False)
tiempo_df.to_csv('Tiempo_L.csv', index=False)